In [3]:
%%html

<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly.graph_objs import *
import numpy as np

In [2]:
np.random.seed(10)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)}) #value range, number of rows
df = pd.concat([df, pd.DataFrame(np.random.randn(9, 6), #which cells to fill
                                 columns=list('BCDEFG'))], #column names
               axis=1)
df.iloc[1:4, 6] = np.nan #sets some values to nan (e.g. slices out rows 2, 3, 4, and column 6)

In [3]:
df.head()

df.style

In [4]:
url = 'testChart.csv' #ask leah why commas show?

df = pd.read_table(url, sep='\s+', header=None, names=['First', 'Second', 'Third']) 

#use \t instead if only want to separate first column
#header=0 to get rid of first line

In [5]:
df.head()

df.style

In [6]:
#http://pbpython.com/pandas-list-dict.html
sales = [(150, 200, 50),
         (200, 210, 90),
         (140, 215, 95)]
labels = ['Jan', 'Feb', 'Mar']

sales.append((123, 345, 567))

df = pd.DataFrame.from_records(sales, columns=labels)

df.iloc[1] = np.nan

df.head
df.style

In [7]:
import plotly.graph_objs as go
import plotly.offline as py
from plotly.offline import init_notebook_mode, iplot
import plotly.tools as tls
from matplotlib.backends.backend_agg import FigureCanvasAgg as FigureCanvas
from IPython.display import HTML
import random
%matplotlib inline
import matplotlib as mpl
import numpy as np
import matplotlib.pyplot as plt 
import IPython
from IPython import display 
from ipywidgets import widgets
from ipywidgets import interactive
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.DataFrame({'sales': sales, 'labels': labels})

data = [
    go.Scatter(
        x=df['labels'], # assign x as the dataframe column 'x'
        y=df['sales']
    )
]
# IPython notebook
# py.iplot(data, filename='pandas/basic-line-plot')

url = py.plot(data, filename='pandas/basic-line-plot')

ValueError: arrays must all be same length