In [1]:
%%html

<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [2]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly.graph_objs import *
import numpy as np

In [3]:
np.random.seed(10)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)}) #value range, number of rows
df = pd.concat([df, pd.DataFrame(np.random.randn(9, 6), #which cells to fill
                                 columns=list('BCDEFG'))], #column names
               axis=1)
df.iloc[1:4, 6] = np.nan #sets some values to nan (e.g. slices out rows 2, 3, 4, and column 6)

In [4]:
df.head()

df.style

In [108]:
url = 'testChart.csv' #ask leah why commas show?

df = pd.read_table(url, sep='\s+', header=None, names=['First', 'Second', 'Third']) 

#use \t instead if only want to separate first column
#header=0 to get rid of first line

In [109]:
df.head()

df.style